# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- Create a Jupyter Notebook with markdown and code cells
- List examples of languages, libraries and tools used in Data Science
- Share your Jupyter Notebook publicly on GitHub
- Evaluate notebooks submitted by your peers using the provided rubric
- Demonstrate proficiency in Data Science toolkit knowledge

Some of the popular languages that Data Scientists use are:

1. **Python**
2. **R**
3. **SQL**
4. **Julia**
5. **Scala**

Some of the commonly used libraries used by Data Scientists include:

1. **numpy**
2. **pandas**
3. **Matplotlib**
4. **scikit-learn**

| Data Science Tools          |
|-----------------------------|
| Jupyter Notebook            |
| RStudio                     |
| Apache Zeppelin             |

### Below are a few examples of evaluating arithmetic expressions in Python

In [14]:
'This a simple arithmetic expression to mutiply then add integers'

(3*4)+5

17

In [16]:
'This will convert 200 minutes to hours by diving by 60'

200/60

3.3333333333333335